{"openapi":"3.1.0","info":{"title":"My Blog API","description":"My WordPress Blog","version":"6.8.2","contact":{"name":"My Blog","url":"http:\/\/wps.zya.me","email":"picarov@tuta.io"}},"servers":[{"url":"http:\/\/wps.zya.me\/wp-json"}],"tags":[{"name":"wc\/v3","description":""}],"components":{"schemas":{"payment_method":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"payment_method","type":"object","properties":{"id":{"description":"ID for the payment method.","type":"string"},"type":{"description":"Type of the payment method.","type":"string","enum":["card","sepa_debit","link"]},"billing_details":{"description":"Billing details for the payment method.","type":"object","properties":{"address":{"description":"Address associated with the billing details.","type":"object","properties":{"city":{"description":"City of the billing address.","type":"string"},"country":{"description":"Country of the billing address.","type":"string"},"line1":{"description":"Line 1 of the billing address.","type":"string"},"line2":{"description":"Line 2 of the billing address.","type":"string"},"postal_code":{"description":"Postal code of the billing address.","type":"string"},"state":{"description":"State of the billing address.","type":"string"}}},"email":{"description":"Email associated with the billing details.","type":"string","format":"email"},"name":{"description":"Name associated with the billing details.","type":"string"},"phone":{"description":"Phone number associated with the billing details.","type":"string"}}},"card":{"description":"Card details for the payment method.","type":"object","properties":{"brand":{"description":"Brand of the card.","type":"string"},"last4":{"description":"Last 4 digits of the card.","type":"string"},"exp_month":{"description":"Expiration month of the card.","type":"integer"},"exp_year":{"description":"Expiration year of the card.","type":"string"}}},"sepa_debit":{"description":"SEPA Debit details for the payment method.","type":"object","properties":{"last4":{"description":"Last 4 digits of the SEPA Debit.","type":"string"}}},"link":{"description":"Link details for the payment method.","type":"object","properties":{"email":{"description":"Email associated with the link.","type":"string","format":"email"}}}}},"transaction":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"transaction","type":"object","properties":{"date":{"description":"The date and time when the transaction was created.","type":"string","format":"date-time"},"transaction_id":{"description":"A unique identifier for each transaction based on its transaction type.","type":"string"},"source_id":{"description":"A unique source id for each transaction.","type":"string"},"channel":{"description":"Indicates whether the transaction was made online or offline.","type":"string"},"payment_method":{"description":"Specifies whether the payment method used was a card (Visa, Mastercard, etc.) or an Alternative Payment Method (APM) or Local Payment Method (LPM) (iDEAL, Apple Pay, Google Pay, etc.).","type":"object","properties":{"type":{"description":"Specifies whether the payment method used was a card (Visa, Mastercard, etc.) or an Alternative Payment Method (APM) or Local Payment Method (LPM) (iDEAL, Apple Pay, Google Pay, etc.).","type":"string"},"id":{"description":"The payment method ID used to create the transaction type.","type":"string"}}},"type":{"description":"The type of the transaction.","type":"string"},"transaction_currency":{"description":"The currency of the transaction.","type":"string"},"amount":{"description":"The amount of the transaction.","type":"number"},"exchange_rate":{"description":"The exchange rate of the transaction.","type":"number"},"deposit_currency":{"description":"The currency of the store.","type":"string"},"fees":{"description":"Transaction fees.","type":"number"},"customer":{"description":"Customer details.","type":"object","properties":{"name":{"name":"Customer name.","type":"string"},"email":{"description":"Customer email.","type":"string"},"country":{"description":"Customer country.","type":"string"}}},"net_amount":{"description":"Net amount.","type":"number"},"order_id":{"description":"The identifier of the WooCommerce order associated with this transaction.","type":"number"},"risk_level":{"description":"Fraud risk level.","type":"number"},"deposit_date":{"description":"Deposit date of transaction","type":"string"},"deposit_id":{"description":"A unique identifier for the deposit.","type":"string"},"deposit_status":{"description":"The status of the deposit","type":"string"}}},"product_brand":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_brand","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Category name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"parent":{"description":"The ID for the parent of the resource.","type":"integer"},"description":{"description":"HTML description of the resource.","type":"string"},"display":{"description":"Category archive display type.","type":"string","default":"default","enum":["default","products","subcategories","both"]},"image":{"description":"Image data.","type":"object","properties":{"id":{"description":"Image ID.","type":"integer"},"date_created":{"description":"The date the image was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the image was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the image was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the image was last modified, as GMT.","type":"date-time"},"src":{"description":"Image URL.","type":"string","format":"uri"},"name":{"description":"Image name.","type":"string"},"alt":{"description":"Image alternative text.","type":"string"}}},"menu_order":{"description":"Menu order, used to custom sort the resource.","type":"integer"},"count":{"description":"Number of published products for the resource.","type":"integer"}}},"batch":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"batch","type":"object","properties":{"create":{"description":"List of created resources.","type":"array","items":{"type":"object"}},"update":{"description":"List of updated resources.","type":"array","items":{"type":"object"}},"delete":{"description":"List of delete resources.","type":"array","items":{"type":"integer"}}}},"shop_coupon":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shop_coupon","type":"object","properties":{"id":{"description":"Unique identifier for the object.","type":"integer"},"code":{"description":"Coupon code.","type":"string"},"amount":{"description":"The amount of discount. Should always be numeric, even if setting a percentage.","type":"string"},"status":{"description":"The status of the coupon. Should always be draft, published, or pending review","type":"string"},"date_created":{"description":"The date the coupon was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the coupon was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the coupon was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the coupon was last modified, as GMT.","type":"date-time"},"discount_type":{"description":"Determines the type of discount that will be applied.","type":"string","default":"fixed_cart","enum":["percent","fixed_cart","fixed_product"]},"description":{"description":"Coupon description.","type":"string"},"date_expires":{"description":"The date the coupon expires, in the site's timezone.","type":"date-time"},"date_expires_gmt":{"description":"The date the coupon expires, as GMT.","type":"date-time"},"usage_count":{"description":"Number of times the coupon has been used already.","type":"integer"},"individual_use":{"description":"If true, the coupon can only be used individually. Other applied coupons will be removed from the cart.","type":"boolean","default":false},"product_ids":{"description":"List of product IDs the coupon can be used on.","type":"array","items":{"type":"integer"}},"excluded_product_ids":{"description":"List of product IDs the coupon cannot be used on.","type":"array","items":{"type":"integer"}},"usage_limit":{"description":"How many times the coupon can be used in total.","type":"integer"},"usage_limit_per_user":{"description":"How many times the coupon can be used per customer.","type":"integer"},"limit_usage_to_x_items":{"description":"Max number of items in the cart the coupon can be applied to.","type":"integer"},"free_shipping":{"description":"If true and if the free shipping method requires a coupon, this coupon will enable free shipping.","type":"boolean","default":false},"product_categories":{"description":"List of category IDs the coupon applies to.","type":"array","items":{"type":"integer"}},"excluded_product_categories":{"description":"List of category IDs the coupon does not apply to.","type":"array","items":{"type":"integer"}},"exclude_sale_items":{"description":"If true, this coupon will not be applied to items that have sale prices.","type":"boolean","default":false},"minimum_amount":{"description":"Minimum order amount that needs to be in the cart before coupon applies.","type":"string"},"maximum_amount":{"description":"Maximum order amount allowed when using the coupon.","type":"string"},"email_restrictions":{"description":"List of email addresses that can use this coupon.","type":"array","items":{"type":"string"}},"used_by":{"description":"List of user IDs (or guest email addresses) that have used the coupon.","type":"array","items":{"type":"integer"}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}},"customer_download":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"customer_download","type":"object","properties":{"download_id":{"description":"Download ID.","type":"string"},"download_url":{"description":"Download file URL.","type":"string"},"product_id":{"description":"Downloadable product ID.","type":"integer"},"product_name":{"description":"Product name.","type":"string"},"download_name":{"description":"Downloadable file name.","type":"string"},"order_id":{"description":"Order ID.","type":"integer"},"order_key":{"description":"Order key.","type":"string"},"downloads_remaining":{"description":"Number of downloads remaining.","type":"string"},"access_expires":{"description":"The date when download access expires, in the site's timezone.","type":"string"},"access_expires_gmt":{"description":"The date when download access expires, as GMT.","type":"string"},"file":{"description":"File details.","type":"object","properties":{"name":{"description":"File name.","type":"string"},"file":{"description":"File URL.","type":"string"}}}}},"customer":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"customer","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"date_created":{"description":"The date the customer was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the customer was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the customer was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the customer was last modified, as GMT.","type":"date-time"},"email":{"description":"The email address for the customer.","type":"string","format":"email"},"first_name":{"description":"Customer first name.","type":"string"},"last_name":{"description":"Customer last name.","type":"string"},"role":{"description":"Customer role.","type":"string"},"username":{"description":"Customer login name.","type":"string"},"password":{"description":"Customer password.","type":"string"},"billing":{"description":"List of billing address data.","type":"object","properties":{"first_name":{"description":"First name.","type":"string"},"last_name":{"description":"Last name.","type":"string"},"company":{"description":"Company name.","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"city":{"description":"City name.","type":"string"},"state":{"description":"ISO code or name of the state, province or district.","type":"string"},"postcode":{"description":"Postal code.","type":"string"},"country":{"description":"ISO code of the country.","type":"string"},"email":{"description":"Email address.","type":"string","format":"email"},"phone":{"description":"Phone number.","type":"string"}}},"shipping":{"description":"List of shipping address data.","type":"object","properties":{"first_name":{"description":"First name.","type":"string"},"last_name":{"description":"Last name.","type":"string"},"company":{"description":"Company name.","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"city":{"description":"City name.","type":"string"},"state":{"description":"ISO code or name of the state, province or district.","type":"string"},"postcode":{"description":"Postal code.","type":"string"},"country":{"description":"ISO code of the country.","type":"string"},"phone":{"description":"Phone number.","type":"string"}}},"is_paying_customer":{"description":"Is the customer a paying customer?","type":"bool"},"avatar_url":{"description":"Avatar URL.","type":"string"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}},"order_note":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"order_note","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"author":{"description":"Order note author.","type":"string"},"date_created":{"description":"The date the order note was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the order note was created, as GMT.","type":"date-time"},"note":{"description":"Order note content.","type":"string"},"customer_note":{"description":"If true, the note will be shown to customers and they will be notified. If false, the note will be for admin reference only.","type":"boolean","default":false},"added_by_user":{"description":"If true, this note will be attributed to the current user. If false, the note will be attributed to the system.","type":"boolean","default":false}}},"shop_order_refund":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shop_order_refund","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"parent_id":{"description":"Parent order ID.","type":"integer"},"date_created":{"description":"The date the order refund was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the order refund was created, as GMT.","type":"date-time"},"amount":{"description":"Refund amount.","type":"string"},"reason":{"description":"Reason for refund.","type":"string"},"refunded_by":{"description":"User ID of user who created the refund.","type":"integer"},"refunded_payment":{"description":"If the payment was refunded via the API.","type":"boolean"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}},"line_items":{"description":"Line items data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"name":{"description":"Product name.","type":"mixed"},"product_id":{"description":"Product ID.","type":"mixed"},"variation_id":{"description":"Variation ID, if applicable.","type":"integer"},"quantity":{"description":"Quantity ordered.","type":"integer"},"tax_class":{"description":"Tax class of product.","type":"string"},"subtotal":{"description":"Line subtotal (before discounts).","type":"string"},"subtotal_tax":{"description":"Line subtotal tax (before discounts).","type":"string"},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"},"subtotal":{"description":"Tax subtotal.","type":"string"},"refund_total":{"description":"Amount that will be refunded for this tax.","type":"number"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}},"sku":{"description":"Product SKU.","type":"string"},"price":{"description":"Product price.","type":"number"},"refund_total":{"description":"Amount that will be refunded for this line item (excluding taxes).","type":"number"}}}},"tax_lines":{"description":"Tax lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"rate_code":{"description":"Tax rate code.","type":"string"},"rate_id":{"description":"Tax rate ID.","type":"integer"},"label":{"description":"Tax rate label.","type":"string"},"compound":{"description":"Show if is a compound tax rate.","type":"boolean"},"tax_total":{"description":"Tax total (not including shipping taxes).","type":"string"},"shipping_tax_total":{"description":"Shipping tax total.","type":"string"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"shipping_lines":{"description":"Shipping lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"method_title":{"description":"Shipping method name.","type":"mixed"},"method_id":{"description":"Shipping method ID.","type":"mixed"},"instance_id":{"description":"Shipping instance ID.","type":"string"},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"fee_lines":{"description":"Fee lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"name":{"description":"Fee name.","type":"mixed"},"tax_class":{"description":"Tax class of fee.","type":"string"},"tax_status":{"description":"Tax status of fee.","type":"string","enum":["taxable","none"]},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"},"subtotal":{"description":"Tax subtotal.","type":"string"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"api_refund":{"description":"When true, the payment gateway API is used to generate the refund.","type":"boolean","default":true},"api_restock":{"description":"When true, refunded items are restocked.","type":"boolean","default":true}}},"shop_order":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shop_order","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"parent_id":{"description":"Parent order ID.","type":"integer"},"number":{"description":"Order number.","type":"string"},"order_key":{"description":"Order key.","type":"string"},"created_via":{"description":"Shows where the order was created.","type":"string"},"version":{"description":"Version of WooCommerce which last updated the order.","type":"string"},"status":{"description":"Order status.","type":"string","default":"pending","enum":["auto-draft","pending","processing","on-hold","completed","cancelled","refunded","failed","checkout-draft"]},"currency":{"description":"Currency the order was created with, in ISO format.","type":"string","default":"USD","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTC","BTN","BWP","BYR","BYN","BZD","CAD","CDF","CHF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GGP","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","IMP","INR","IQD","IRR","IRT","ISK","JEP","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRU","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PRB","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SLL","SOS","SRD","SSP","STN","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VES","VND","VUV","WST","XAF","XCD","XOF","XPF","YER","ZAR","ZMW"]},"date_created":{"description":"The date the order was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the order was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the order was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the order was last modified, as GMT.","type":"date-time"},"discount_total":{"description":"Total discount amount for the order.","type":"string"},"discount_tax":{"description":"Total discount tax amount for the order.","type":"string"},"shipping_total":{"description":"Total shipping amount for the order.","type":"string"},"shipping_tax":{"description":"Total shipping tax amount for the order.","type":"string"},"cart_tax":{"description":"Sum of line item taxes only.","type":"string"},"total":{"description":"Grand total.","type":"string"},"total_tax":{"description":"Sum of all taxes.","type":"string"},"prices_include_tax":{"description":"True the prices included tax during checkout.","type":"boolean"},"customer_id":{"description":"User ID who owns the order. 0 for guests.","type":"integer","default":0},"customer_ip_address":{"description":"Customer's IP address.","type":"string"},"customer_user_agent":{"description":"User agent of the customer.","type":"string"},"customer_note":{"description":"Note left by customer during checkout.","type":"string"},"billing":{"description":"Billing address.","type":"object","properties":{"first_name":{"description":"First name.","type":"string"},"last_name":{"description":"Last name.","type":"string"},"company":{"description":"Company name.","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"city":{"description":"City name.","type":"string"},"state":{"description":"ISO code or name of the state, province or district.","type":"string"},"postcode":{"description":"Postal code.","type":"string"},"country":{"description":"Country code in ISO 3166-1 alpha-2 format.","type":"string"},"email":{"description":"Email address.","type":["string","null"],"format":"email"},"phone":{"description":"Phone number.","type":"string"}}},"shipping":{"description":"Shipping address.","type":"object","properties":{"first_name":{"description":"First name.","type":"string"},"last_name":{"description":"Last name.","type":"string"},"company":{"description":"Company name.","type":"string"},"address_1":{"description":"Address line 1","type":"string"},"address_2":{"description":"Address line 2","type":"string"},"city":{"description":"City name.","type":"string"},"state":{"description":"ISO code or name of the state, province or district.","type":"string"},"postcode":{"description":"Postal code.","type":"string"},"country":{"description":"Country code in ISO 3166-1 alpha-2 format.","type":"string"}}},"payment_method":{"description":"Payment method ID.","type":"string"},"payment_method_title":{"description":"Payment method title.","type":"string"},"transaction_id":{"description":"Unique transaction ID.","type":"string"},"date_paid":{"description":"The date the order was paid, in the site's timezone.","type":"date-time"},"date_paid_gmt":{"description":"The date the order was paid, as GMT.","type":"date-time"},"date_completed":{"description":"The date the order was completed, in the site's timezone.","type":"date-time"},"date_completed_gmt":{"description":"The date the order was completed, as GMT.","type":"date-time"},"cart_hash":{"description":"MD5 hash of cart items to ensure orders are not modified.","type":"string"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}},"line_items":{"description":"Line items data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"name":{"description":"Product name.","type":"mixed"},"parent_name":{"description":"Parent product name if the product is a variation.","type":"string"},"product_id":{"description":"Product ID.","type":"mixed"},"variation_id":{"description":"Variation ID, if applicable.","type":"integer"},"quantity":{"description":"Quantity ordered.","type":"integer"},"tax_class":{"description":"Tax class of product.","type":"string"},"subtotal":{"description":"Line subtotal (before discounts).","type":"string"},"subtotal_tax":{"description":"Line subtotal tax (before discounts).","type":"string"},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"},"subtotal":{"description":"Tax subtotal.","type":"string"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"},"display_key":{"description":"Meta key for UI display.","type":"string"},"display_value":{"description":"Meta value for UI display.","type":"string"}}}},"sku":{"description":"Product SKU.","type":"string"},"price":{"description":"Product price.","type":"number"},"image":{"description":"Properties of the main product image.","type":"object","properties":{"id":{"description":"Image ID.","type":"integer"},"src":{"description":"Image URL.","type":"string","format":"uri"}}}}}},"tax_lines":{"description":"Tax lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"rate_code":{"description":"Tax rate code.","type":"string"},"rate_id":{"description":"Tax rate ID.","type":"integer"},"label":{"description":"Tax rate label.","type":"string"},"compound":{"description":"Show if is a compound tax rate.","type":"boolean"},"tax_total":{"description":"Tax total (not including shipping taxes).","type":"string"},"shipping_tax_total":{"description":"Shipping tax total.","type":"string"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"shipping_lines":{"description":"Shipping lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"method_title":{"description":"Shipping method name.","type":"mixed"},"method_id":{"description":"Shipping method ID.","type":"mixed"},"instance_id":{"description":"Shipping instance ID.","type":"string"},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"fee_lines":{"description":"Fee lines data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"name":{"description":"Fee name.","type":"mixed"},"tax_class":{"description":"Tax class of fee.","type":"string"},"tax_status":{"description":"Tax status of fee.","type":"string","enum":["taxable","none"]},"total":{"description":"Line total (after discounts).","type":"string"},"total_tax":{"description":"Line total tax (after discounts).","type":"string"},"taxes":{"description":"Line taxes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tax rate ID.","type":"integer"},"total":{"description":"Tax total.","type":"string"},"subtotal":{"description":"Tax subtotal.","type":"string"}}}},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"coupon_lines":{"description":"Coupons line data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Item ID.","type":"integer"},"code":{"description":"Coupon code.","type":"mixed"},"discount":{"description":"Discount total.","type":"string"},"discount_tax":{"description":"Discount total tax.","type":"string"},"discount_type":{"description":"Discount type.","type":"string"},"nominal_amount":{"description":"Discount amount as defined in the coupon (absolute value or a percent, depending on the discount type).","type":"number"},"free_shipping":{"description":"Whether the coupon grants free shipping or not.","type":"boolean"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}}},"refunds":{"description":"List of refunds.","type":"array","items":{"type":"object","properties":{"id":{"description":"Refund ID.","type":"integer"},"reason":{"description":"Refund reason.","type":"string"},"total":{"description":"Refund total.","type":"string"}}}},"payment_url":{"description":"Order payment URL.","type":"string"},"set_paid":{"description":"Define if the order is paid. It will set the status to processing and reduce stock items.","type":"boolean","default":false},"is_editable":{"description":"Whether an order can be edited.","type":"boolean"},"needs_payment":{"description":"Whether an order needs payment, based on status and order total.","type":"boolean"},"needs_processing":{"description":"Whether an order needs processing before it can be completed.","type":"boolean"},"manual_update":{"default":false,"description":"Set the action as manual so that the order note registers as \"added by user\".","type":"boolean"}}},"product_attribute_term":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_attribute_term","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Term name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"description":{"description":"HTML description of the resource.","type":"string"},"menu_order":{"description":"Menu order, used to custom sort the resource.","type":"integer"},"count":{"description":"Number of published products for the resource.","type":"integer"}}},"product_attribute":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_attribute","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Attribute name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"type":{"description":"Type of attribute.","type":"string","default":"select","enum":["select"]},"order_by":{"description":"Default sort order.","type":"string","default":"menu_order","enum":["menu_order","name","name_num","id"]},"has_archives":{"description":"Enable\/Disable attribute archives.","type":"boolean","default":false}}},"product_cat":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_cat","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Category name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"parent":{"description":"The ID for the parent of the resource.","type":"integer"},"description":{"description":"HTML description of the resource.","type":"string"},"display":{"description":"Category archive display type.","type":"string","default":"default","enum":["default","products","subcategories","both"]},"image":{"description":"Image data.","type":"object","properties":{"id":{"description":"Image ID.","type":"integer"},"date_created":{"description":"The date the image was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the image was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the image was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the image was last modified, as GMT.","type":"date-time"},"src":{"description":"Image URL.","type":"string","format":"uri"},"name":{"description":"Image name.","type":"string"},"alt":{"description":"Image alternative text.","type":"string"}}},"menu_order":{"description":"Menu order, used to custom sort the resource.","type":"integer"},"count":{"description":"Number of published products for the resource.","type":"integer"}}},"product_review":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_review","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"date_created":{"description":"The date the review was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the review was created, as GMT.","type":"date-time"},"product_id":{"description":"Unique identifier for the product that the review belongs to.","type":"integer"},"product_name":{"description":"Product name.","type":"string"},"product_permalink":{"description":"Product URL.","type":"string","format":"uri"},"status":{"description":"Status of the review.","type":"string","default":"approved","enum":["approved","hold","spam","unspam","trash","untrash"]},"reviewer":{"description":"Reviewer name.","type":"string"},"reviewer_email":{"description":"Reviewer email.","type":"string","format":"email"},"review":{"description":"The content of the review.","type":"string"},"rating":{"description":"Review rating (0 to 5).","type":"integer"},"verified":{"description":"Shows if the reviewer bought the product or not.","type":"boolean"},"reviewer_avatar_urls":{"description":"Avatar URLs for the object reviewer.","type":"object","properties":{"24":{"description":"Avatar URL with image size of 24 pixels.","type":"string","format":"uri"},"48":{"description":"Avatar URL with image size of 48 pixels.","type":"string","format":"uri"},"96":{"description":"Avatar URL with image size of 96 pixels.","type":"string","format":"uri"}}}}},"product_shipping_class":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_shipping_class","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Shipping class name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"description":{"description":"HTML description of the resource.","type":"string"},"count":{"description":"Number of published products for the resource.","type":"integer"}}},"product_tag":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_tag","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Tag name.","type":"string"},"slug":{"description":"An alphanumeric identifier for the resource unique to its type.","type":"string"},"description":{"description":"HTML description of the resource.","type":"string"},"count":{"description":"Number of published products for the resource.","type":"integer"}}},"product":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Product name.","type":"string"},"slug":{"description":"Product slug.","type":"string"},"permalink":{"description":"Product URL.","type":"string","format":"uri"},"date_created":{"description":"The date the product was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the product was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the product was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the product was last modified, as GMT.","type":"date-time"},"type":{"description":"Product type.","type":"string","default":"simple","enum":["simple","grouped","external","variable"]},"status":{"description":"Product status (post status).","type":"string","default":"publish","enum":["draft","pending","private","publish","future","auto-draft","trash"]},"featured":{"description":"Featured product.","type":"boolean","default":false},"catalog_visibility":{"description":"Catalog visibility.","type":"string","default":"visible","enum":["visible","catalog","search","hidden"]},"description":{"description":"Product description.","type":"string"},"short_description":{"description":"Product short description.","type":"string"},"sku":{"description":"Stock Keeping Unit.","type":"string"},"global_unique_id":{"description":"GTIN, UPC, EAN or ISBN.","type":"string"},"price":{"description":"Current product price.","type":"string"},"regular_price":{"description":"Product regular price.","type":"string"},"sale_price":{"description":"Product sale price.","type":"string"},"date_on_sale_from":{"description":"Start date of sale price, in the site's timezone.","type":"date-time"},"date_on_sale_from_gmt":{"description":"Start date of sale price, as GMT.","type":"date-time"},"date_on_sale_to":{"description":"End date of sale price, in the site's timezone.","type":"date-time"},"date_on_sale_to_gmt":{"description":"End date of sale price, in the site's timezone.","type":"date-time"},"price_html":{"description":"Price formatted in HTML.","type":"string"},"on_sale":{"description":"Shows if the product is on sale.","type":"boolean"},"purchasable":{"description":"Shows if the product can be bought.","type":"boolean"},"total_sales":{"description":"Amount of sales.","type":"integer"},"virtual":{"description":"If the product is virtual.","type":"boolean","default":false},"downloadable":{"description":"If the product is downloadable.","type":"boolean","default":false},"downloads":{"description":"List of downloadable files.","type":"array","items":{"type":"object","properties":{"id":{"description":"File ID.","type":"string"},"name":{"description":"File name.","type":"string"},"file":{"description":"File URL.","type":"string"}}}},"download_limit":{"description":"Number of times downloadable files can be downloaded after purchase.","type":"integer","default":-1},"download_expiry":{"description":"Number of days until access to downloadable files expires.","type":"integer","default":-1},"external_url":{"description":"Product external URL. Only for external products.","type":"string","format":"uri"},"button_text":{"description":"Product external button text. Only for external products.","type":"string"},"tax_status":{"description":"Tax status.","type":"string","default":"taxable","enum":["taxable","shipping","none"]},"tax_class":{"description":"Tax class.","type":"string"},"manage_stock":{"description":"Stock management at product level.","type":"boolean","default":false},"stock_quantity":{"description":"Stock quantity.","type":"integer"},"stock_status":{"description":"Controls the stock status of the product.","type":"string","default":"instock","enum":["instock","outofstock","onbackorder"]},"backorders":{"description":"If managing stock, this controls if backorders are allowed.","type":"string","default":"no","enum":["no","notify","yes"]},"backorders_allowed":{"description":"Shows if backorders are allowed.","type":"boolean"},"backordered":{"description":"Shows if the product is on backordered.","type":"boolean"},"low_stock_amount":{"description":"Low Stock amount for the product.","type":["integer","null"]},"sold_individually":{"description":"Allow one item to be bought in a single order.","type":"boolean","default":false},"weight":{"description":"Product weight (lbs).","type":"string"},"dimensions":{"description":"Product dimensions.","type":"object","properties":{"length":{"description":"Product length (in).","type":"string"},"width":{"description":"Product width (in).","type":"string"},"height":{"description":"Product height (in).","type":"string"}}},"shipping_required":{"description":"Shows if the product need to be shipped.","type":"boolean"},"shipping_taxable":{"description":"Shows whether or not the product shipping is taxable.","type":"boolean"},"shipping_class":{"description":"Shipping class slug.","type":"string"},"shipping_class_id":{"description":"Shipping class ID.","type":"string"},"reviews_allowed":{"description":"Allow reviews.","type":"boolean","default":true},"post_password":{"description":"Post password.","type":"string"},"average_rating":{"description":"Reviews average rating.","type":"string"},"rating_count":{"description":"Amount of reviews that the product have.","type":"integer"},"related_ids":{"description":"List of related products IDs.","type":"array","items":{"type":"integer"}},"upsell_ids":{"description":"List of up-sell products IDs.","type":"array","items":{"type":"integer"}},"cross_sell_ids":{"description":"List of cross-sell products IDs.","type":"array","items":{"type":"integer"}},"parent_id":{"description":"Product parent ID.","type":"integer"},"purchase_note":{"description":"Optional note to send the customer after purchase.","type":"string"},"categories":{"description":"List of categories.","type":"array","items":{"type":"object","properties":{"id":{"description":"Category ID.","type":"integer"},"name":{"description":"Category name.","type":"string"},"slug":{"description":"Category slug.","type":"string"}}}},"tags":{"description":"List of tags.","type":"array","items":{"type":"object","properties":{"id":{"description":"Tag ID.","type":"integer"},"name":{"description":"Tag name.","type":"string"},"slug":{"description":"Tag slug.","type":"string"}}}},"images":{"description":"List of images.","type":"array","items":{"type":"object","properties":{"id":{"description":"Image ID.","type":"integer"},"date_created":{"description":"The date the image was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the image was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the image was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the image was last modified, as GMT.","type":"date-time"},"src":{"description":"Image URL.","type":"string","format":"uri"},"name":{"description":"Image name.","type":"string"},"alt":{"description":"Image alternative text.","type":"string"}}}},"has_options":{"description":"Shows if the product needs to be configured before it can be bought.","type":"boolean"},"attributes":{"description":"List of attributes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Attribute ID.","type":"integer"},"name":{"description":"Attribute name.","type":"string"},"position":{"description":"Attribute position.","type":"integer"},"visible":{"description":"Define if the attribute is visible on the \"Additional information\" tab in the product's page.","type":"boolean","default":false},"variation":{"description":"Define if the attribute can be used as variation.","type":"boolean","default":false},"options":{"description":"List of available term names of the attribute.","type":"array","items":{"type":"string"}}}}},"default_attributes":{"description":"Defaults variation attributes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Attribute ID.","type":"integer"},"name":{"description":"Attribute name.","type":"string"},"option":{"description":"Selected attribute term name.","type":"string"}}}},"variations":{"description":"List of variations IDs.","type":"array","items":{"type":"integer"}},"grouped_products":{"description":"List of grouped products ID.","type":"array","items":{"type":"integer"}},"menu_order":{"description":"Menu order, used to custom sort products.","type":"integer"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}},"permalink_template":{"description":"Permalink template for the product.","type":"string"},"generated_slug":{"description":"Slug automatically generated from the product name.","type":"string"}}},"product_variation":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"product_variation","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"type":{"description":"Product type.","type":"string"},"date_created":{"description":"The date the variation was created, in the site's timezone.","type":"date-time"},"date_modified":{"description":"The date the variation was last modified, in the site's timezone.","type":"date-time"},"description":{"description":"Variation description.","type":"string"},"permalink":{"description":"Variation URL.","type":"string","format":"uri"},"sku":{"description":"Stock Keeping Unit.","type":"string"},"global_unique_id":{"description":"GTIN, UPC, EAN or ISBN.","type":"string"},"price":{"description":"Current variation price.","type":"string"},"regular_price":{"description":"Variation regular price.","type":"string"},"sale_price":{"description":"Variation sale price.","type":"string"},"date_on_sale_from":{"description":"Start date of sale price, in the site's timezone.","type":"date-time"},"date_on_sale_from_gmt":{"description":"Start date of sale price, as GMT.","type":"date-time"},"date_on_sale_to":{"description":"End date of sale price, in the site's timezone.","type":"date-time"},"date_on_sale_to_gmt":{"description":"End date of sale price, in the site's timezone.","type":"date-time"},"on_sale":{"description":"Shows if the variation is on sale.","type":"boolean"},"status":{"description":"Variation status.","type":"string","default":"publish","enum":["draft","pending","private","publish"]},"purchasable":{"description":"Shows if the variation can be bought.","type":"boolean"},"virtual":{"description":"If the variation is virtual.","type":"boolean","default":false},"downloadable":{"description":"If the variation is downloadable.","type":"boolean","default":false},"downloads":{"description":"List of downloadable files.","type":"array","items":{"type":"object","properties":{"id":{"description":"File ID.","type":"string"},"name":{"description":"File name.","type":"string"},"file":{"description":"File URL.","type":"string"}}}},"download_limit":{"description":"Number of times downloadable files can be downloaded after purchase.","type":"integer","default":-1},"download_expiry":{"description":"Number of days until access to downloadable files expires.","type":"integer","default":-1},"tax_status":{"description":"Tax status.","type":"string","default":"taxable","enum":["taxable","shipping","none"]},"tax_class":{"description":"Tax class.","type":"string"},"manage_stock":{"description":"Stock management at variation level.","type":"boolean","default":false},"stock_quantity":{"description":"Stock quantity.","type":"integer"},"stock_status":{"description":"Controls the stock status of the product.","type":"string","default":"instock","enum":["instock","outofstock","onbackorder"]},"backorders":{"description":"If managing stock, this controls if backorders are allowed.","type":"string","default":"no","enum":["no","notify","yes"]},"backorders_allowed":{"description":"Shows if backorders are allowed.","type":"boolean"},"backordered":{"description":"Shows if the variation is on backordered.","type":"boolean"},"low_stock_amount":{"description":"Low Stock amount for the variation.","type":["integer","null"]},"weight":{"description":"Variation weight (lbs).","type":"string"},"dimensions":{"description":"Variation dimensions.","type":"object","properties":{"length":{"description":"Variation length (in).","type":"string"},"width":{"description":"Variation width (in).","type":"string"},"height":{"description":"Variation height (in).","type":"string"}}},"shipping_class":{"description":"Shipping class slug.","type":"string"},"shipping_class_id":{"description":"Shipping class ID.","type":"string"},"image":{"description":"Variation image data.","type":"object","properties":{"id":{"description":"Image ID.","type":"integer"},"date_created":{"description":"The date the image was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the image was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the image was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the image was last modified, as GMT.","type":"date-time"},"src":{"description":"Image URL.","type":"string","format":"uri"},"name":{"description":"Image name.","type":"string"},"alt":{"description":"Image alternative text.","type":"string"}}},"attributes":{"description":"List of attributes.","type":"array","items":{"type":"object","properties":{"id":{"description":"Attribute ID.","type":"integer"},"name":{"description":"Attribute name.","type":"string"},"option":{"description":"Selected attribute term name.","type":"string"}}}},"menu_order":{"description":"Menu order, used to custom sort products.","type":"integer"},"meta_data":{"description":"Meta data.","type":"array","items":{"type":"object","properties":{"id":{"description":"Meta ID.","type":"integer"},"key":{"description":"Meta key.","type":"string"},"value":{"description":"Meta value.","type":"mixed"}}}}}},"sales_report":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"sales_report","type":"object","properties":{"total_sales":{"description":"Gross sales in the period.","type":"string"},"net_sales":{"description":"Net sales in the period.","type":"string"},"average_sales":{"description":"Average net daily sales.","type":"string"},"total_orders":{"description":"Total of orders placed.","type":"integer"},"total_items":{"description":"Total of items purchased.","type":"integer"},"total_tax":{"description":"Total charged for taxes.","type":"string"},"total_shipping":{"description":"Total charged for shipping.","type":"string"},"total_refunds":{"description":"Total of refunded orders.","type":"integer"},"total_discount":{"description":"Total of coupons used.","type":"integer"},"totals_grouped_by":{"description":"Group type.","type":"string"},"totals":{"description":"Totals.","type":"array","items":{"type":"array"}}}},"top_sellers_report":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"top_sellers_report","type":"object","properties":{"name":{"description":"Product name.","type":"string"},"product_id":{"description":"Product ID.","type":"integer"},"quantity":{"description":"Total number of purchases.","type":"integer"}}},"report_order_total":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report_order_total","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"name":{"description":"Order status name.","type":"string"},"total":{"description":"Amount of orders.","type":"string"}}},"report_product_total":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report_product_total","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"name":{"description":"Product type name.","type":"string"},"total":{"description":"Amount of products.","type":"string"}}},"report_customer_total":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report_customer_total","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"name":{"description":"Customer type name.","type":"string"},"total":{"description":"Amount of customers.","type":"string"}}},"report_coupon_total":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report_coupon_total","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"name":{"description":"Coupon type name.","type":"string"},"total":{"description":"Amount of coupons.","type":"string"}}},"report_review_total":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report_review_total","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"name":{"description":"Review type name.","type":"string"},"total":{"description":"Amount of reviews.","type":"string"}}},"report":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"report","type":"object","properties":{"slug":{"description":"An alphanumeric identifier for the resource.","type":"string"},"description":{"description":"A human-readable description of the resource.","type":"string"}}},"setting_group":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"setting_group","type":"object","properties":{"id":{"description":"A unique identifier that can be used to link settings together.","type":"string"},"label":{"description":"A human readable label for the setting used in interfaces.","type":"string"},"description":{"description":"A human readable description for the setting used in interfaces.","type":"string"},"parent_id":{"description":"ID of parent grouping.","type":"string"},"sub_groups":{"description":"IDs for settings sub groups.","type":"string"}}},"setting":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"setting","type":"object","properties":{"id":{"description":"A unique identifier for the setting.","type":"string"},"group_id":{"description":"An identifier for the group this setting belongs to.","type":"string"},"label":{"description":"A human readable label for the setting used in interfaces.","type":"string"},"description":{"description":"A human readable description for the setting used in interfaces.","type":"string"},"value":{"description":"Setting value.","type":"mixed"},"default":{"description":"Default value for the setting.","type":"mixed"},"tip":{"description":"Additional help text shown to the user about the setting.","type":"string"},"placeholder":{"description":"Placeholder text to be displayed in text inputs.","type":"string"},"type":{"description":"Type of setting.","type":"string","enum":["text","email","number","color","password","textarea","select","multiselect","radio","image_width","checkbox"]},"options":{"description":"Array of options (key value pairs) for inputs such as select, multiselect, and radio buttons.","type":"object"}}},"shipping_zone":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shipping_zone","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"Shipping zone name.","type":"string"},"order":{"description":"Shipping zone order.","type":"integer"}}},"shipping_zone_location":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shipping_zone_location","type":"object","properties":{"code":{"description":"Shipping zone location code.","type":"string"},"type":{"description":"Shipping zone location type.","type":"string","default":"country","enum":["postcode","state","country","continent"]}}},"shipping_zone_method":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shipping_zone_method","type":"object","properties":{"id":{"description":"Shipping method instance ID.","type":"integer"},"instance_id":{"description":"Shipping method instance ID.","type":"integer"},"title":{"description":"Shipping method customer facing title.","type":"string"},"order":{"description":"Shipping method sort order.","type":"integer"},"enabled":{"description":"Shipping method enabled status.","type":"boolean"},"method_id":{"description":"Shipping method ID.","type":"string"},"method_title":{"description":"Shipping method title.","type":"string"},"method_description":{"description":"Shipping method description.","type":"string"},"settings":{"description":"Shipping method settings.","type":"object","properties":{"id":{"description":"A unique identifier for the setting.","type":"string"},"label":{"description":"A human readable label for the setting used in interfaces.","type":"string"},"description":{"description":"A human readable description for the setting used in interfaces.","type":"string"},"type":{"description":"Type of setting.","type":"string","enum":["text","email","number","color","password","textarea","select","multiselect","radio","image_width","checkbox","class","order"]},"value":{"description":"Setting value.","type":"string"},"default":{"description":"Default value for the setting.","type":"string"},"tip":{"description":"Additional help text shown to the user about the setting.","type":"string"},"placeholder":{"description":"Placeholder text to be displayed in text inputs.","type":"string"}}}}},"tax_class":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"tax_class","type":"object","properties":{"slug":{"description":"Unique identifier for the resource.","type":"string"},"name":{"description":"Tax class name.","type":"string"}}},"tax":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"tax","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"country":{"description":"Country ISO 3166 code.","type":"string"},"state":{"description":"State code.","type":"string"},"postcode":{"description":"Postcode\/ZIP, it doesn't support multiple values. Deprecated as of WooCommerce 5.3, 'postcodes' should be used instead.","type":"string"},"city":{"description":"City name, it doesn't support multiple values. Deprecated as of WooCommerce 5.3, 'cities' should be used instead.","type":"string"},"rate":{"description":"Tax rate.","type":"string"},"name":{"description":"Tax rate name.","type":"string"},"priority":{"description":"Tax priority.","type":"integer","default":1},"compound":{"description":"Whether or not this is a compound rate.","type":"boolean","default":false},"shipping":{"description":"Whether or not this tax rate also gets applied to shipping.","type":"boolean","default":true},"order":{"description":"Indicates the order that will appear in queries.","type":"integer"},"class":{"description":"Tax class.","type":"string","default":"standard","enum":["standard","reduced-rate","zero-rate"]},"postcodes":{"description":"List of postcodes \/ ZIPs. Introduced in WooCommerce 5.3.","type":"array","items":{"type":"string"}},"cities":{"description":"List of city names. Introduced in WooCommerce 5.3.","type":"array","items":{"type":"string"}}}},"webhook":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"webhook","type":"object","properties":{"id":{"description":"Unique identifier for the resource.","type":"integer"},"name":{"description":"A friendly name for the webhook.","type":"string"},"status":{"description":"Webhook status.","type":"string","default":"active","enum":["active","paused","disabled"]},"topic":{"description":"Webhook topic.","type":"string"},"resource":{"description":"Webhook resource.","type":"string"},"event":{"description":"Webhook event.","type":"string"},"hooks":{"description":"WooCommerce action names associated with the webhook.","type":"array","items":{"type":"string"}},"delivery_url":{"description":"The URL where the webhook payload is delivered.","type":"string","format":"uri"},"secret":{"description":"Secret key used to generate a hash of the delivered webhook and provided in the request headers. This will default to a MD5 hash from the current user's ID|username if not provided.","type":"string"},"date_created":{"description":"The date the webhook was created, in the site's timezone.","type":"date-time"},"date_created_gmt":{"description":"The date the webhook was created, as GMT.","type":"date-time"},"date_modified":{"description":"The date the webhook was last modified, in the site's timezone.","type":"date-time"},"date_modified_gmt":{"description":"The date the webhook was last modified, as GMT.","type":"date-time"}}},"system_status":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"system_status","type":"object","properties":{"environment":{"description":"Environment.","type":"object","properties":{"home_url":{"description":"Home URL.","type":"string","format":"uri"},"site_url":{"description":"Site URL.","type":"string","format":"uri"},"store_id":{"description":"WooCommerce Store Identifier.","type":"string"},"version":{"description":"WooCommerce version.","type":"string"},"log_directory":{"description":"Log directory.","type":"string"},"log_directory_writable":{"description":"Is log directory writable?","type":"boolean"},"wp_version":{"description":"WordPress version.","type":"string"},"wp_multisite":{"description":"Is WordPress multisite?","type":"boolean"},"wp_memory_limit":{"description":"WordPress memory limit.","type":"integer"},"wp_debug_mode":{"description":"Is WordPress debug mode active?","type":"boolean"},"wp_cron":{"description":"Are WordPress cron jobs enabled?","type":"boolean"},"language":{"description":"WordPress language.","type":"string"},"server_info":{"description":"Server info.","type":"string"},"php_version":{"description":"PHP version.","type":"string"},"php_post_max_size":{"description":"PHP post max size.","type":"integer"},"php_max_execution_time":{"description":"PHP max execution time.","type":"integer"},"php_max_input_vars":{"description":"PHP max input vars.","type":"integer"},"curl_version":{"description":"cURL version.","type":"string"},"suhosin_installed":{"description":"Is SUHOSIN installed?","type":"boolean"},"max_upload_size":{"description":"Max upload size.","type":"integer"},"mysql_version":{"description":"MySQL version.","type":"string"},"mysql_version_string":{"description":"MySQL version string.","type":"string"},"default_timezone":{"description":"Default timezone.","type":"string"},"fsockopen_or_curl_enabled":{"description":"Is fsockopen\/cURL enabled?","type":"boolean"},"soapclient_enabled":{"description":"Is SoapClient class enabled?","type":"boolean"},"domdocument_enabled":{"description":"Is DomDocument class enabled?","type":"boolean"},"gzip_enabled":{"description":"Is GZip enabled?","type":"boolean"},"mbstring_enabled":{"description":"Is mbstring enabled?","type":"boolean"},"remote_post_successful":{"description":"Remote POST successful?","type":"boolean"},"remote_post_response":{"description":"Remote POST response.","type":"string"},"remote_get_successful":{"description":"Remote GET successful?","type":"boolean"},"remote_get_response":{"description":"Remote GET response.","type":"string"}}},"database":{"description":"Database.","type":"object","properties":{"wc_database_version":{"description":"WC database version.","type":"string"},"database_prefix":{"description":"Database prefix.","type":"string"},"maxmind_geoip_database":{"description":"MaxMind GeoIP database.","type":"string"},"database_tables":{"description":"Database tables.","type":"array","items":{"type":"string"}}}},"active_plugins":{"description":"Active plugins.","type":"array","items":{"type":"object","properties":{"plugin":{"description":"Plugin basename. The path to the main plugin file relative to the plugins directory.","type":"string"},"name":{"description":"Name of the plugin.","type":"string"},"version":{"description":"Current plugin version.","type":"string"},"version_latest":{"description":"Latest available plugin version.","type":"string"},"url":{"description":"Plugin URL.","type":"string"},"author_name":{"description":"Plugin author name.","type":"string"},"author_url":{"description":"Plugin author URL.","type":"string"},"network_activated":{"description":"Whether the plugin can only be activated network-wide.","type":"boolean"}}}},"inactive_plugins":{"description":"Inactive plugins.","type":"array","items":{"type":"object","properties":{"plugin":{"description":"Plugin basename. The path to the main plugin file relative to the plugins directory.","type":"string"},"name":{"description":"Name of the plugin.","type":"string"},"version":{"description":"Current plugin version.","type":"string"},"version_latest":{"description":"Latest available plugin version.","type":"string"},"url":{"description":"Plugin URL.","type":"string"},"author_name":{"description":"Plugin author name.","type":"string"},"author_url":{"description":"Plugin author URL.","type":"string"},"network_activated":{"description":"Whether the plugin can only be activated network-wide.","type":"boolean"}}}},"dropins_mu_plugins":{"description":"Dropins & MU plugins.","type":"array","items":{"type":"string"}},"theme":{"description":"Theme.","type":"object","properties":{"name":{"description":"Theme name.","type":"string"},"version":{"description":"Theme version.","type":"string"},"version_latest":{"description":"Latest version of theme.","type":"string"},"author_url":{"description":"Theme author URL.","type":"string","format":"uri"},"is_child_theme":{"description":"Is this theme a child theme?","type":"boolean"},"is_block_theme":{"description":"Is this theme a block theme?","type":"boolean"},"has_woocommerce_support":{"description":"Does the theme declare WooCommerce support?","type":"boolean"},"has_woocommerce_file":{"description":"Does the theme have a woocommerce.php file?","type":"boolean"},"has_outdated_templates":{"description":"Does this theme have outdated templates?","type":"boolean"},"overrides":{"description":"Template overrides.","type":"array","items":{"type":"string"}},"parent_name":{"description":"Parent theme name.","type":"string"},"parent_version":{"description":"Parent theme version.","type":"string"},"parent_author_url":{"description":"Parent theme author URL.","type":"string","format":"uri"}}},"settings":{"description":"Settings.","type":"object","properties":{"api_enabled":{"description":"Legacy REST API enabled?","type":"boolean"},"force_ssl":{"description":"SSL forced?","type":"boolean"},"currency":{"description":"Currency.","type":"string"},"currency_symbol":{"description":"Currency symbol.","type":"string"},"currency_position":{"description":"Currency position.","type":"string"},"thousand_separator":{"description":"Thousand separator.","type":"string"},"decimal_separator":{"description":"Decimal separator.","type":"string"},"number_of_decimals":{"description":"Number of decimals.","type":"integer"},"geolocation_enabled":{"description":"Geolocation enabled?","type":"boolean"},"taxonomies":{"description":"Taxonomy terms for product\/order statuses.","type":"array","items":{"type":"string"}},"product_visibility_terms":{"description":"Terms in the product visibility taxonomy.","type":"array","items":{"type":"string"}},"wccom_connected":{"description":"Is store connected to WooCommerce.com?","type":"string"},"enforce_approved_download_dirs":{"description":"Enforce approved download directories?","type":"boolean"},"HPOS_enabled":{"description":"Is HPOS enabled?","type":"boolean"},"order_datastore":{"description":"Order datastore.","type":"string"},"HPOS_sync_enabled":{"description":"Is HPOS sync enabled?","type":"boolean"}}},"security":{"description":"Security.","type":"object","properties":{"secure_connection":{"description":"Is the connection to your store secure?","type":"boolean"},"hide_errors":{"description":"Hide errors from visitors?","type":"boolean"}}},"pages":{"description":"WooCommerce pages.","type":"array","items":{"type":"object","properties":{"page_name":{"type":"string"},"page_id":{"type":"string"},"page_set":{"type":"boolean"},"page_exists":{"type":"boolean"},"page_visible":{"type":"boolean"},"shortcode":{"type":"string"},"block":{"type":"string"},"shortcode_required":{"type":"boolean"},"shortcode_present":{"type":"boolean"},"block_present":{"type":"boolean"},"block_required":{"type":"boolean"}}}},"post_type_counts":{"description":"Total post count.","type":"array","items":{"type":"string"}},"logging":{"description":"Logging.","type":"object","properties":{"logging_enabled":{"description":"Is logging enabled?","type":"boolean"},"default_handler":{"description":"The logging handler class.","type":"string"},"retention_period_days":{"description":"The number of days log entries are retained.","type":"integer"},"level_threshold":{"description":"Minimum severity level.","type":"string"},"log_directory_size":{"description":"The size of the log directory.","type":"string"}}}}},"system_status_tool":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"system_status_tool","type":"object","properties":{"id":{"description":"A unique identifier for the tool.","type":"string"},"name":{"description":"Tool name.","type":"string"},"action":{"description":"What running the tool will do.","type":"string"},"description":{"description":"Tool description.","type":"string"},"success":{"description":"Did the tool run successfully?","type":"boolean"},"message":{"description":"Tool return message.","type":"string"}}},"shipping_method":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"shipping_method","type":"object","properties":{"id":{"description":"Method ID.","type":"string"},"title":{"description":"Shipping method title.","type":"string"},"description":{"description":"Shipping method description.","type":"string"}}},"payment_gateway":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"payment_gateway","type":"object","properties":{"id":{"description":"Payment gateway ID.","type":"string"},"title":{"description":"Payment gateway title on checkout.","type":"string"},"description":{"description":"Payment gateway description on checkout.","type":"string"},"order":{"description":"Payment gateway sort order.","type":"integer"},"enabled":{"description":"Payment gateway enabled status.","type":"boolean"},"method_title":{"description":"Payment gateway method title.","type":"string"},"method_description":{"description":"Payment gateway method description.","type":"string"},"method_supports":{"description":"Supported features for this payment gateway.","type":"array","items":{"type":"string"}},"settings":{"description":"Payment gateway settings.","type":"object","properties":{"id":{"description":"A unique identifier for the setting.","type":"string"},"label":{"description":"A human readable label for the setting used in interfaces.","type":"string"},"description":{"description":"A human readable description for the setting used in interfaces.","type":"string"},"type":{"description":"Type of setting.","type":"string","enum":["text","email","number","color","password","textarea","select","multiselect","radio","image_width","checkbox"]},"value":{"description":"Setting value.","type":"string"},"default":{"description":"Default value for the setting.","type":"string"},"tip":{"description":"Additional help text shown to the user about the setting.","type":"string"},"placeholder":{"description":"Placeholder text to be displayed in text inputs.","type":"string"}}}}},"data_index":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"data_index","type":"object","properties":{"slug":{"description":"Data resource ID.","type":"string"},"description":{"description":"Data resource description.","type":"string"}}},"data_continents":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"data_continents","type":"object","properties":{"code":{"type":"string","description":"2 character continent code."},"name":{"type":"string","description":"Full name of continent."},"countries":{"type":"array","description":"List of countries on this continent.","items":{"type":"object","properties":{"code":{"type":"string","description":"ISO3166 alpha-2 country code."},"currency_code":{"type":"string","description":"Default ISO4127 alpha-3 currency code for the country."},"currency_pos":{"type":"string","description":"Currency symbol position for this country."},"decimal_sep":{"type":"string","description":"Decimal separator for displayed prices for this country."},"dimension_unit":{"type":"string","description":"The unit lengths are defined in for this country."},"name":{"type":"string","description":"Full name of country."},"num_decimals":{"type":"integer","description":"Number of decimal points shown in displayed prices for this country."},"states":{"type":"array","description":"List of states in this country.","items":{"type":"object","properties":{"code":{"type":"string","description":"State code."},"name":{"type":"string","description":"Full name of state."}}}},"thousand_sep":{"type":"string","description":"Thousands separator for displayed prices in this country."},"weight_unit":{"type":"string","description":"The unit weights are defined in for this country."}}}}}},"data_countries":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"data_countries","type":"object","properties":{"code":{"type":"string","description":"ISO3166 alpha-2 country code."},"name":{"type":"string","description":"Full name of country."},"states":{"type":"array","description":"List of states in this country.","items":{"type":"object","properties":{"code":{"type":"string","description":"State code."},"name":{"type":"string","description":"Full name of state."}}}}}},"data_currencies":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"data_currencies","type":"object","properties":{"code":{"type":"string","description":"ISO4217 currency code."},"name":{"type":"string","description":"Full name of currency."},"symbol":{"type":"string","description":"Currency symbol."}}},"Email Template":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"Email Template","type":"object","properties":{"id":{"description":"A unique ID string for the email template.","type":"string","enum":["new_order","cancelled_order","failed_order","customer_failed_order","customer_on_hold_order","customer_processing_order","customer_completed_order","customer_refunded_order","customer_invoice","customer_note","customer_reset_password","customer_new_account","new_receipt"]},"title":{"description":"The display name of the email template.","type":"string"},"description":{"description":"A description of the purpose of the email template.","type":"string"}}},"Order Actions":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"Order Actions","type":"object","properties":{"message":{"description":"A message indicating that the action completed successfully.","type":"string"}}},"order_status":{"$schema":"http:\/\/json-schema.org\/draft-04\/schema#","title":"order_status","type":"object","properties":{"slug":{"description":"Order status slug.","type":"string"},"name":{"description":"Order status name.","type":"string"}}}}},"paths":{"\/wc\/v3":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"namespace","in":"query","description":"","required":false,"schema":{"default":"wc\/v3"}},{"name":"context","in":"query","description":"","required":false,"schema":{"default":"view"}}]}},"\/wc\/v3\/marketplace\/featured":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/marketplace\/refresh":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/marketplace\/subscriptions":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/marketplace\/subscriptions\/connect":{"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"product_key":{"type":"string"}},"required":["product_key"]}}}}}},"\/wc\/v3\/marketplace\/subscriptions\/disconnect":{"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"product_key":{"type":"string"}},"required":["product_key"]}}}}}},"\/wc\/v3\/marketplace\/subscriptions\/activate":{"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"product_key":{"type":"string"}},"required":["product_key"]}}}}}},"\/wc\/v3\/marketplace\/subscriptions\/install-url":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"product_key","in":"query","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/marketplace\/create-order":{"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"product_id":[]},"required":["product_id"]}}}}}},"\/wc\/v3\/payments\/accounts":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/accounts\/session":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/deposits":{"get":{"responses":{"200":{"description":"OK"}}},"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/deposits\/summary":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/deposits\/download":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/deposits\/download\/{export_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"export_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/deposits\/{deposit_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"deposit_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/deposits\/overview-all":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/download":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/download\/{export_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"export_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/transactions\/summary":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/search":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/fraud-outcomes":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/fraud-outcomes\/summary":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/fraud-outcomes\/search":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/transactions\/fraud-outcomes\/download":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/disputes":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/disputes\/download\/{export_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"export_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/disputes\/summary":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/disputes\/download":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/disputes\/{dispute_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"dispute_id","in":"path","description":"","required":true,"schema":{}}]},"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"dispute_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/disputes\/{dispute_id}\/close":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"dispute_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/charges\/{charge_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"charge_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/charges\/order\/{order_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/connection_tokens":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/orders\/{order_id}\/capture_terminal_payment":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}],"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"payment_intent_id":[]},"required":["payment_intent_id"]}}}}}},"\/wc\/v3\/payments\/orders\/{order_id}\/capture_authorization":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}],"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"payment_intent_id":[]},"required":["payment_intent_id"]}}}}}},"\/wc\/v3\/payments\/orders\/{order_id}\/cancel_authorization":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}],"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"payment_intent_id":[]},"required":["payment_intent_id"]}}}}}},"\/wc\/v3\/payments\/orders\/{order_id}\/create_terminal_intent":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/orders\/{order_id}\/create_customer":{"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"order_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/fraud_outcomes\/{id}\/latest":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/timeline\/{intention_id}":{"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"intention_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/webhook":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/tos":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/tos\/reactivate":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/tos\/stripe_track_connected":{"post":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/terminal\/locations\/store":{"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/terminal\/locations\/{location_id}":{"delete":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"location_id","in":"path","description":"","required":true,"schema":{}}]},"post":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"location_id","in":"path","description":"","required":true,"schema":{}}],"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"display_name":{"type":"string"},"address":{"type":"object"}}}}}}},"get":{"responses":{"200":{"description":"OK"}},"parameters":[{"name":"location_id","in":"path","description":"","required":true,"schema":{}}]}},"\/wc\/v3\/payments\/terminal\/locations":{"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"display_name":{"type":"string"},"address":{"type":"object"}},"required":["display_name","address"]}}}}},"get":{"responses":{"200":{"description":"OK"}}}},"\/wc\/v3\/payments\/settings":{"get":{"responses":{"200":{"description":"OK"}}},"post":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"is_wcpay_enabled":{"description":"If WooPayments should be enabled.","type":"boolean"},"enabled_payment_method_ids":{"description":"Payment method IDs that should be enabled. Other methods will be disabled.","type":"array","items":{"type":"string","enum":[]}},"is_manual_capture_enabled":{"description":"If WooPayments manual capture of charges should be enabled.","type":"boolean"},"is_saved_cards_enabled":{"description":"If WooPayments \"Saved cards\" should be enabled.","type":"boolean"},"is_test_mode_enabled":{"description":"WooPayments test mode setting.","type":"boolean"},"is_multi_currency_enabled":{"description":"WooPayments Multi-Currency feature flag setting.","type":"boolean"},"is_wcpay_subscription_enabled":{"description":"WooPayments Subscriptions feature flag setting.","type":"boolean"},"account_statement_descriptor":{"description":"WooPayments bank account descriptor to be displayed in customers' bank accounts.","type":"string"},"account_business_name":{"description":"The customer-facing business name.","type":"string"},"account_business_url":{"description":"The business\u2019s publicly available website.","type":"string"},"account_business_support_address":{"description":"A publicly available mailing address for sending support issues to.","type":"object"},"account_business_support_email":{"description":"A publicly available email address for sending support issues to.","type":"string"},"account_business_support_phone":{"description":"A publicly available phone number to call with support issues.","type":"string"},"account_branding_logo":{"description":"A logo id for the account that will be used in Checkout","type":"string"},"account_branding_icon":{"description":"An icon for the account.","type":"string"},"account_branding_primary_color":{"description":"A CSS hex color value representing the primary branding color for this account.","type":"string"},"account_branding_secondary_color":{"description":"A CSS hex color value representing the secondary branding color for this account.","type":"string"},"deposit_schedule_interval":{"description":"An interval for deposit scheduling.","type":"string"},"deposit_schedule_weekly_anchor":{"description":"Weekly anchor for deposit scheduling when interval is set to weekly","type":"string"},"deposit_schedule_monthly_anchor":{"description":"Monthly anchor for deposit scheduling when interval is set to monthly","type":["integer","null"]},"is_payment_request_enabled":{"description":"If WooPayments express checkouts should be enabled.","type":"boolean"},"payment_request_enabled_locations":{"description":"Express checkout locations that should be enabled.","type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"payment_request_button_type":{"description":"1-click checkout button types.","type":"string","items":{"type":"string","enum":["default","buy","donate","book"]}},"payment_request_button_size":{"description":"1-click checkout button sizes.","type":"string","items":{"type":"string","enum":["small","medium","large"]}},"payment_request_button_theme":{"description":"1-click checkout button themes.","type":"string","items":{"type":"string","enum":["dark","light","light-outline"]}},"payment_request_button_border_radius":{"description":"1-click checkout button border radius.","type":"integer"},"is_woopay_enabled":{"description":"If WooPay should be enabled.","type":"boolean"},"woopay_custom_message":{"description":"Custom message to display to WooPay customers.","type":"string"},"woopay_store_logo":{"description":"Store logo to display to WooPay customers.","type":"string"},"woopay_enabled_locations":{"description":"Express checkout locations that should be enabled.","default":["product","cart","checkout"],"type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"is_stripe_billing_enabled":{"description":"If Stripe Billing is enabled.","type":"boolean"},"is_migrating_stripe_billing":{"description":"Whether there is a Stripe Billing off-site to on-site billing migration in progress.","type":"boolean"},"stripe_billing_subscription_count":{"description":"The number of subscriptions using Stripe Billing","type":"int"},"stripe_billing_migrated_count":{"description":"The number of subscriptions migrated from Stripe Billing to on-site billing.","type":"int"}}}}}}},"put":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"is_wcpay_enabled":{"description":"If WooPayments should be enabled.","type":"boolean"},"enabled_payment_method_ids":{"description":"Payment method IDs that should be enabled. Other methods will be disabled.","type":"array","items":{"type":"string","enum":[]}},"is_manual_capture_enabled":{"description":"If WooPayments manual capture of charges should be enabled.","type":"boolean"},"is_saved_cards_enabled":{"description":"If WooPayments \"Saved cards\" should be enabled.","type":"boolean"},"is_test_mode_enabled":{"description":"WooPayments test mode setting.","type":"boolean"},"is_multi_currency_enabled":{"description":"WooPayments Multi-Currency feature flag setting.","type":"boolean"},"is_wcpay_subscription_enabled":{"description":"WooPayments Subscriptions feature flag setting.","type":"boolean"},"account_statement_descriptor":{"description":"WooPayments bank account descriptor to be displayed in customers' bank accounts.","type":"string"},"account_business_name":{"description":"The customer-facing business name.","type":"string"},"account_business_url":{"description":"The business\u2019s publicly available website.","type":"string"},"account_business_support_address":{"description":"A publicly available mailing address for sending support issues to.","type":"object"},"account_business_support_email":{"description":"A publicly available email address for sending support issues to.","type":"string"},"account_business_support_phone":{"description":"A publicly available phone number to call with support issues.","type":"string"},"account_branding_logo":{"description":"A logo id for the account that will be used in Checkout","type":"string"},"account_branding_icon":{"description":"An icon for the account.","type":"string"},"account_branding_primary_color":{"description":"A CSS hex color value representing the primary branding color for this account.","type":"string"},"account_branding_secondary_color":{"description":"A CSS hex color value representing the secondary branding color for this account.","type":"string"},"deposit_schedule_interval":{"description":"An interval for deposit scheduling.","type":"string"},"deposit_schedule_weekly_anchor":{"description":"Weekly anchor for deposit scheduling when interval is set to weekly","type":"string"},"deposit_schedule_monthly_anchor":{"description":"Monthly anchor for deposit scheduling when interval is set to monthly","type":["integer","null"]},"is_payment_request_enabled":{"description":"If WooPayments express checkouts should be enabled.","type":"boolean"},"payment_request_enabled_locations":{"description":"Express checkout locations that should be enabled.","type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"payment_request_button_type":{"description":"1-click checkout button types.","type":"string","items":{"type":"string","enum":["default","buy","donate","book"]}},"payment_request_button_size":{"description":"1-click checkout button sizes.","type":"string","items":{"type":"string","enum":["small","medium","large"]}},"payment_request_button_theme":{"description":"1-click checkout button themes.","type":"string","items":{"type":"string","enum":["dark","light","light-outline"]}},"payment_request_button_border_radius":{"description":"1-click checkout button border radius.","type":"integer"},"is_woopay_enabled":{"description":"If WooPay should be enabled.","type":"boolean"},"woopay_custom_message":{"description":"Custom message to display to WooPay customers.","type":"string"},"woopay_store_logo":{"description":"Store logo to display to WooPay customers.","type":"string"},"woopay_enabled_locations":{"description":"Express checkout locations that should be enabled.","default":["product","cart","checkout"],"type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"is_stripe_billing_enabled":{"description":"If Stripe Billing is enabled.","type":"boolean"},"is_migrating_stripe_billing":{"description":"Whether there is a Stripe Billing off-site to on-site billing migration in progress.","type":"boolean"},"stripe_billing_subscription_count":{"description":"The number of subscriptions using Stripe Billing","type":"int"},"stripe_billing_migrated_count":{"description":"The number of subscriptions migrated from Stripe Billing to on-site billing.","type":"int"}}}}}}},"patch":{"responses":{"200":{"description":"OK"}},"requestBody":{"content":{"application\/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"is_wcpay_enabled":{"description":"If WooPayments should be enabled.","type":"boolean"},"enabled_payment_method_ids":{"description":"Payment method IDs that should be enabled. Other methods will be disabled.","type":"array","items":{"type":"string","enum":[]}},"is_manual_capture_enabled":{"description":"If WooPayments manual capture of charges should be enabled.","type":"boolean"},"is_saved_cards_enabled":{"description":"If WooPayments \"Saved cards\" should be enabled.","type":"boolean"},"is_test_mode_enabled":{"description":"WooPayments test mode setting.","type":"boolean"},"is_multi_currency_enabled":{"description":"WooPayments Multi-Currency feature flag setting.","type":"boolean"},"is_wcpay_subscription_enabled":{"description":"WooPayments Subscriptions feature flag setting.","type":"boolean"},"account_statement_descriptor":{"description":"WooPayments bank account descriptor to be displayed in customers' bank accounts.","type":"string"},"account_business_name":{"description":"The customer-facing business name.","type":"string"},"account_business_url":{"description":"The business\u2019s publicly available website.","type":"string"},"account_business_support_address":{"description":"A publicly available mailing address for sending support issues to.","type":"object"},"account_business_support_email":{"description":"A publicly available email address for sending support issues to.","type":"string"},"account_business_support_phone":{"description":"A publicly available phone number to call with support issues.","type":"string"},"account_branding_logo":{"description":"A logo id for the account that will be used in Checkout","type":"string"},"account_branding_icon":{"description":"An icon for the account.","type":"string"},"account_branding_primary_color":{"description":"A CSS hex color value representing the primary branding color for this account.","type":"string"},"account_branding_secondary_color":{"description":"A CSS hex color value representing the secondary branding color for this account.","type":"string"},"deposit_schedule_interval":{"description":"An interval for deposit scheduling.","type":"string"},"deposit_schedule_weekly_anchor":{"description":"Weekly anchor for deposit scheduling when interval is set to weekly","type":"string"},"deposit_schedule_monthly_anchor":{"description":"Monthly anchor for deposit scheduling when interval is set to monthly","type":["integer","null"]},"is_payment_request_enabled":{"description":"If WooPayments express checkouts should be enabled.","type":"boolean"},"payment_request_enabled_locations":{"description":"Express checkout locations that should be enabled.","type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"payment_request_button_type":{"description":"1-click checkout button types.","type":"string","items":{"type":"string","enum":["default","buy","donate","book"]}},"payment_request_button_size":{"description":"1-click checkout button sizes.","type":"string","items":{"type":"string","enum":["small","medium","large"]}},"payment_request_button_theme":{"description":"1-click checkout button themes.","type":"string","items":{"type":"string","enum":["dark","light","light-outline"]}},"payment_request_button_border_radius":{"description":"1-click checkout button border radius.","type":"integer"},"is_woopay_enabled":{"description":"If WooPay should be enabled.","type":"boolean"},"woopay_custom_message":{"description":"Custom message to display to WooPay customers.","type":"string"},"woopay_store_logo":{"description":"Store logo to display to WooPay customers.","type":"string"},"woopay_enabled_locations":{"description":"Express checkout locations that should be enabled.","default":["product","cart","checkout"],"type":"array","items":{"type":"string","enum":["product","cart","checkout"]}},"is_stripe_billing_enabled":{"description":"If Stripe Billing is enabled.","type":"boolean"},"is_migrating_stripe_billing":{"description":"Whether there is a Stripe Billing off-site to on-site billing migration in progress.","type":"boolean"},"stripe_billing_subscription_count":{"description
[...]
